img {
    height:250px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif
    
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 4px solid #000000;
    border-radius: 10px;
    padding: 12px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 420px;
    flex-grow: 0;
}

img#card-img {
  border: 3px solid #3882F6; 
  border-radius: 20px;
  display: flex;
  opacity: 1;
  /* filter: blur(0px); */
}

img#card-img:hover {

    opacity: .5;
    transition: all 0.1s;
}

button {
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
  padding: 4px;
  padding-left: 24px;
  padding-right: 24px;
  width: 120px;
}

button:hover {
    filter: grayscale(50%);
}

article #info {
    margin: 20px;
    margin-top: unset;
    font-size: 20px;
}

#a-title {
    font-size: 30px;
    margin-top: 14px;
    margin-bottom: 14px;
}

div.container {
    display: flex;
    gap: 16px;
}